In [55]:
import pandas as pd

In [6]:
bitcoin_value = pd.read_csv('../csv_files/bitcoin_usd.csv',parse_dates=True)

In [8]:
bitcoin_value.head()

         Date  24h Average     Ask     Bid    Last  Total Volume
0  2015-09-20       233.09  231.80  231.64  231.68      40775.21
1  2015-09-19       233.97  233.30  233.21  233.31      39321.42
2  2015-09-18       234.65  234.92  234.60  234.89      57623.59
3  2015-09-17       231.82  234.41  234.31  234.37      61813.24
4  2015-09-16       230.64  229.81  229.58  229.67      60120.16

In [9]:
bitcoin_value.drop(['Ask','Bid','Last','Total Volume'],axis=1,inplace=True)

In [10]:
bitcoin_value.shape

(1871, 2)

In [11]:
US_stock = pd.read_csv('../csv_files/US_stock.csv',parse_dates=True)

In [12]:
US_stock.head()

        Date     Value
0  9/18/2015  16384.58
1  9/17/2015  16674.74
2  9/16/2015  16739.95
3  9/15/2015  16599.85
4  9/14/2015  16370.96

In [13]:
US_stock['Date'] = pd.to_datetime(US_stock['Date'])

In [14]:
US_stock.head()

        Date     Value
0 2015-09-18  16384.58
1 2015-09-17  16674.74
2 2015-09-16  16739.95
3 2015-09-15  16599.85
4 2015-09-14  16370.96

In [15]:
gold = pd.read_csv('../csv_files/gold.csv')

In [16]:
gold['Date'] = pd.to_datetime(gold['Date'])

In [17]:
gold.dtypes

Date     datetime64[ns]
Value           float64
dtype: object

In [18]:
gold.head()

        Date   Value
0 2015-09-15  1106.0
1 2015-09-14  1104.8
2 2015-09-11  1101.3
3 2015-09-10  1109.5
4 2015-09-09  1109.9

In [56]:
oil = pd.read_csv('../csv_files/oil.csv')

In [57]:
oil.drop(['Open','High','Low','Volume','Open Interest'],axis=1,inplace=True)

ValueError: labels ['Open' 'High' 'Low' 'Volume' 'Open Interest'] not contained in axis

In [58]:
oil.dtypes

Date      object
Value    float64
dtype: object

In [60]:
oil['Date'] = pd.to_datetime(oil['Date'])

In [61]:
oil.dtypes

Date     datetime64[ns]
Value           float64
dtype: object

In [62]:
oil.head()

        Date  Value
0 2015-09-14  44.07
1 2015-09-11  44.75
2 2015-09-10  45.85
3 2015-09-09  44.13
4 2015-09-08  45.92

In [31]:
USD_eur = pd.read_csv('../csv_files/USD_EUR.csv')

In [32]:
USD_eur.head()

         Date      Rate  High (est)  Low (est)
0  2015-09-18  0.884720     0.89457    0.87498
1  2015-09-17  0.886165     0.89648    0.87597
2  2015-09-16  0.884096     0.89446    0.87385
3  2015-09-15  0.882447     0.89297    0.87205
4  2015-09-14  0.885510     0.00000    0.00000

In [33]:
USD_eur.drop(['High (est)','Low (est)'],axis=1,inplace=True)

In [34]:
USD_eur['Date'] = pd.to_datetime(USD_eur['Date'])

In [35]:
USD_eur.dtypes

Date    datetime64[ns]
Rate           float64
dtype: object

In [36]:
USD_eur.head()

        Date      Rate
0 2015-09-18  0.884720
1 2015-09-17  0.886165
2 2015-09-16  0.884096
3 2015-09-15  0.882447
4 2015-09-14  0.885510

In [37]:
bitcoin_value['Date']=pd.to_datetime(bitcoin_value['Date'])

In [38]:
bitcoin_value.dtypes

Date           datetime64[ns]
24h Average           float64
dtype: object

In [63]:
Dataframe = US_stock.merge(gold,on='Date').merge(oil,on='Date').merge(USD_eur,on='Date').merge(bitcoin_value,on='Date')

In [65]:
Dataframe.columns = ['Date','DowJones','Gold','Oil','USD/EUR','BTC/USD']

In [66]:
Dataframe

           Date  DowJones    Gold    Oil   USD/EUR  BTC/USD
0    2015-09-14  16370.96  1104.8  44.07  0.885510   230.79
1    2015-09-11  16433.09  1101.3  44.75  0.892335   241.55
2    2015-09-10  16330.40  1109.5  45.85  0.894684   239.98
3    2015-09-09  16253.57  1109.9  44.13  0.895212   242.45
4    2015-09-08  16492.68  1121.2  45.92  0.896582   243.76
5    2015-09-04  16102.38  1118.3  46.02  0.891554   231.24
6    2015-09-02  16351.38  1137.8  46.30  0.889085   229.00
7    2015-09-01  16058.35  1142.3  45.38  0.892457   230.32
8    2015-08-31  16528.03  1135.0  49.20  0.890937   229.95
9    2015-08-28  16643.01  1135.0  45.29  0.880789   228.39
10   2015-08-27  16654.77  1119.0  42.47  0.871649   227.05
11   2015-08-26  16285.51  1120.8  38.50  0.869089   225.87
12   2015-08-25  15666.44  1137.5  39.15  0.873058   214.30
13   2015-08-24  15871.35  1166.5  38.22  0.885160   221.77
14   2015-08-21  16459.75  1156.5  40.45  0.899494   235.11
15   2015-08-20  16990.69  1147.7  41.00  0.904523   232.79
16   2015-08-19  17348.73  1126.2  40.75  0.903321   233.92
17   2015-08-18  17511.34  1111.5  42.58  0.901009   256.83
18   2015-08-17  17545.18  1118.8  41.93  0.899345   258.90
19   2015-08-14  17477.40  1118.3  42.45  0.898714   266.20
20   2015-08-13  17408.25  1116.8  42.27  0.902663   266.37
21   2015-08-12  17402.51  1119.0  43.22  0.908725   269.27
22   2015-08-11  17402.84  1108.3  43.11  0.911531   267.19
23   2015-08-10  17615.17  1097.0  44.94  0.913698   265.75
24   2015-08-07  17373.38  1093.5  43.87  0.917664   280.43
25   2015-08-06  17419.75  1089.8  44.69  0.917086   281.92
26   2015-08-05  17540.47  1085.1  45.13  0.912728   284.89
27   2015-08-04  17550.69  1090.7  45.75  0.911237   285.37
28   2015-08-03  17598.20  1091.9  45.25  0.911383   283.85
29   2015-07-31  17689.86  1098.4  47.11  0.909951   286.77
...         ...       ...     ...    ...       ...      ...
1211 2010-10-26  11169.46  1329.5  82.60  0.714758     0.16
1212 2010-10-25  11164.05  1337.5  82.00  0.716276     0.15
1213 2010-10-22  11132.56  1322.5  81.15  0.717773     0.11
1214 2010-10-21  11146.57  1343.5  80.03  0.721377     0.10
1215 2010-10-20  11107.97  1339.0  81.93  0.720643     0.10
1216 2010-10-19  10978.62  1339.0  79.57  0.717131     0.10
1217 2010-10-18  11143.69  1367.3  83.06  0.713595     0.10
1218 2010-10-15  11062.78  1367.5  81.23  0.712515     0.10
1219 2010-10-14  11094.57  1373.3  82.71  0.718324     0.10
1220 2010-10-13  11096.08  1365.5  83.03  0.720673     0.10
1221 2010-10-12  11020.40  1348.5  81.67  0.717831     0.09
1222 2010-10-11  11010.34  1351.5  82.18  0.718448     0.10
1223 2010-10-08  11006.48  1341.5  82.66  0.718448     0.08
1224 2010-10-07  10948.58  1345.0  81.34  0.722590     0.06
1225 2010-10-06  10967.65  1346.5  83.21  0.727117     0.06
1226 2010-10-05  10944.72  1330.5  82.83  0.727741     0.06
1227 2010-10-04  10751.27  1313.5  81.43  0.728375     0.06
1228 2010-10-01  10829.68  1316.3  81.57  0.734307     0.06
1229 2010-09-30  10788.05  1307.0  79.95  0.737007     0.06
1230 2010-09-29  10835.28  1307.5  77.85  0.741514     0.06
1231 2010-09-28  10858.14  1294.0  76.15  0.742034     0.06
1232 2010-09-27  10812.04  1297.0  76.51  0.744105     0.06
1233 2010-09-24  10860.26  1297.0  74.63  0.748860     0.06
1234 2010-09-23  10662.42  1290.8  73.40  0.753126     0.06
1235 2010-09-22  10739.31  1293.5  72.98  0.762497     0.06
1236 2010-09-21  10761.03  1275.0  72.96  0.765285     0.06
1237 2010-09-20  10753.62  1279.3  74.81  0.766081     0.06
1238 2010-09-17  10607.85  1274.0  73.63  0.767298     0.06
1239 2010-09-16  10594.83  1272.5  74.58  0.771290     0.06
1240 2010-09-15  10572.73  1267.0  75.92  0.775948     0.06

[1241 rows x 6 columns]

In [42]:
Dataframe.head(3)

        Date  DowJones    Gold     Oil   USD/EUR  BTC/USD
0 2015-09-15  16599.85  1106.0  1.3329  0.882447   231.89
1 2015-09-14  16370.96  1104.8  1.3043  0.885510   230.79
2 2015-09-11  16433.09  1101.3  1.3699  0.892335   241.55

In [84]:
feature_cols = ['DowJones','Gold','Oil','USD/EUR']

In [85]:
X = Dataframe[feature_cols]

In [86]:
X

      DowJones    Gold    Oil   USD/EUR
0     16370.96  1104.8  44.07  0.885510
1     16433.09  1101.3  44.75  0.892335
2     16330.40  1109.5  45.85  0.894684
3     16253.57  1109.9  44.13  0.895212
4     16492.68  1121.2  45.92  0.896582
5     16102.38  1118.3  46.02  0.891554
6     16351.38  1137.8  46.30  0.889085
7     16058.35  1142.3  45.38  0.892457
8     16528.03  1135.0  49.20  0.890937
9     16643.01  1135.0  45.29  0.880789
10    16654.77  1119.0  42.47  0.871649
11    16285.51  1120.8  38.50  0.869089
12    15666.44  1137.5  39.15  0.873058
13    15871.35  1166.5  38.22  0.885160
14    16459.75  1156.5  40.45  0.899494
15    16990.69  1147.7  41.00  0.904523
16    17348.73  1126.2  40.75  0.903321
17    17511.34  1111.5  42.58  0.901009
18    17545.18  1118.8  41.93  0.899345
19    17477.40  1118.3  42.45  0.898714
20    17408.25  1116.8  42.27  0.902663
21    17402.51  1119.0  43.22  0.908725
22    17402.84  1108.3  43.11  0.911531
23    17615.17  1097.0  44.94  0.913698
24    17373.38  1093.5  43.87  0.917664
25    17419.75  1089.8  44.69  0.917086
26    17540.47  1085.1  45.13  0.912728
27    17550.69  1090.7  45.75  0.911237
28    17598.20  1091.9  45.25  0.911383
29    17689.86  1098.4  47.11  0.909951
...        ...     ...    ...       ...
1211  11169.46  1329.5  82.60  0.714758
1212  11164.05  1337.5  82.00  0.716276
1213  11132.56  1322.5  81.15  0.717773
1214  11146.57  1343.5  80.03  0.721377
1215  11107.97  1339.0  81.93  0.720643
1216  10978.62  1339.0  79.57  0.717131
1217  11143.69  1367.3  83.06  0.713595
1218  11062.78  1367.5  81.23  0.712515
1219  11094.57  1373.3  82.71  0.718324
1220  11096.08  1365.5  83.03  0.720673
1221  11020.40  1348.5  81.67  0.717831
1222  11010.34  1351.5  82.18  0.718448
1223  11006.48  1341.5  82.66  0.718448
1224  10948.58  1345.0  81.34  0.722590
1225  10967.65  1346.5  83.21  0.727117
1226  10944.72  1330.5  82.83  0.727741
1227  10751.27  1313.5  81.43  0.728375
1228  10829.68  1316.3  81.57  0.734307
1229  10788.05  1307.0  79.95  0.737007
1230  10835.28  1307.5  77.85  0.741514
1231  10858.14  1294.0  76.15  0.742034
1232  10812.04  1297.0  76.51  0.744105
1233  10860.26  1297.0  74.63  0.748860
1234  10662.42  1290.8  73.40  0.753126
1235  10739.31  1293.5  72.98  0.762497
1236  10761.03  1275.0  72.96  0.765285
1237  10753.62  1279.3  74.81  0.766081
1238  10607.85  1274.0  73.63  0.767298
1239  10594.83  1272.5  74.58  0.771290
1240  10572.73  1267.0  75.92  0.775948

[1241 rows x 4 columns]

In [70]:
y = Dataframe['BTC/USD']

In [71]:
y.shape

(1241L,)

In [72]:
X.shape

(1241, 5)

In [73]:
from sklearn.cross_validation import train_test_split

In [74]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=123)

In [75]:
y_test.shape

(311L,)

In [76]:
X_test.shape

(311, 5)

In [77]:
y_train.shape

(930L,)

In [79]:
X_train.shape

(930, 5)

In [87]:
Dataframe.head()

        Date  DowJones    Gold    Oil   USD/EUR  BTC/USD
0 2015-09-14  16370.96  1104.8  44.07  0.885510   230.79
1 2015-09-11  16433.09  1101.3  44.75  0.892335   241.55
2 2015-09-10  16330.40  1109.5  45.85  0.894684   239.98
3 2015-09-09  16253.57  1109.9  44.13  0.895212   242.45
4 2015-09-08  16492.68  1121.2  45.92  0.896582   243.76

In [89]:
X.head()

   DowJones    Gold    Oil   USD/EUR
0  16370.96  1104.8  44.07  0.885510
1  16433.09  1101.3  44.75  0.892335
2  16330.40  1109.5  45.85  0.894684
3  16253.57  1109.9  44.13  0.895212
4  16492.68  1121.2  45.92  0.896582

In [90]:
y.head()

0    230.79
1    241.55
2    239.98
3    242.45
4    243.76
Name: BTC/USD, dtype: float64