# Logistic regression exercise with Titanic data

## Introduction

- Data from Kaggle's Titanic competition: [data](https://github.com/justmarkham/DAT8/blob/master/data/titanic.csv), [data dictionary](https://www.kaggle.com/c/titanic/data)
- **Goal**: Predict survival based on passenger characteristics
- `titanic.csv` is already in our repo, so there is no need to download the data from the Kaggle website

## Step 1: Read the data into Pandas

In [2]:
import pandas as pd

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/titanic.csv'
titanic_data = pd.read_csv(url)

In [6]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

## Step 2: Create X and y

Define **Pclass** and **Parch** as the features, and **Survived** as the response.

In [8]:
X = titanic_data[['Parch','Pclass']]

In [10]:
y = titanic_data['Survived']

In [11]:
y.shape

(891L,)

## Step 3: Split the data into training and testing sets

In [12]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=123)

## Step 4: Fit a logistic regression model and examine the coefficients

Confirm that the coefficients make intuitive sense.

In [15]:
from sklearn.linear_model import LogisticRegression

In [17]:
logreg = LogisticRegression(C=1e9)
logreg.fit(X,y)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0)

In [20]:
print logreg.coef_

[[ 0.24445818 -0.86214546]]

In [21]:
titanic_data[['Parch','Pclass']]

     Parch  Pclass
0        0       3
1        0       1
2        0       3
3        0       1
4        0       3
5        0       3
6        0       1
7        1       3
8        2       3
9        0       2
10       1       3
11       0       1
12       0       3
13       5       3
14       0       3
15       0       2
16       1       3
17       0       2
18       0       3
19       0       3
20       0       2
21       0       2
22       0       3
23       0       1
24       1       3
25       5       3
26       0       3
27       2       1
28       0       3
29       0       3
..     ...     ...
861      0       2
862      0       1
863      2       3
864      0       2
865      0       2
866      0       2
867      0       1
868      0       3
869      1       3
870      0       3
871      1       1
872      0       1
873      0       3
874      0       2
875      0       3
876      0       3
877      0       3
878      0       3
879      1       1
880      1       2
881      0       3
882      0       3
883      0       2
884      0       3
885      5       3
886      0       2
887      0       1
888      2       3
889      0       1
890      0       3

[891 rows x 2 columns]

## Step 5: Make predictions on the testing set and calculate the accuracy

In [23]:
logreg.fit(X_train,y_train)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0)

In [30]:
y_pred = logreg.predict(X_test)

In [40]:
y_pred

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [35]:
y_test.value_counts()

0    139
1     84
dtype: int64

In [29]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.69955156950672648

## Step 6: Compare your testing accuracy to the null accuracy