In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/vehicles_train.csv'

In [5]:
import pandas as pd

In [30]:
data = pd.read_csv(url)

In [31]:
data

    price  year   miles  doors  vtype
0   22000  2012   13000      2    car
1   14000  2010   30000      2    car
2   13000  2010   73500      4    car
3    9500  2009   78000      4    car
4    9000  2007   47000      4    car
5    4000  2006  124000      2    car
6    3000  2004  177000      4    car
7    2000  2004  209000      4  truck
8    3000  2003  138000      2    car
9    1900  2003  160000      4    car
10   2500  2003  190000      2  truck
11   5000  2001   62000      4    car
12   1800  1999  163000      2  truck
13   1300  1997  138000      4    car

In [45]:
data.groupby('year').mean()

             price          miles     doors
year
1997   1300.000000  138000.000000  4.000000
1999   1800.000000  163000.000000  2.000000
2001   5000.000000   62000.000000  4.000000
2003   2466.666667  162666.666667  2.666667
2004   2500.000000  193000.000000  4.000000
2006   4000.000000  124000.000000  2.000000
2007   9000.000000   47000.000000  4.000000
2009   9500.000000   78000.000000  4.000000
2010  13500.000000   51750.000000  3.000000
2012  22000.000000   13000.000000  2.000000

In [47]:
data.miles.mean()

114464.28571428571

In [48]:
data.miles.mean()

114464.28571428571

In [56]:
less_years = data[data.miles<114464.28].sort('year')

In [61]:
less_years[less_years.year<2008].price

11    5000
4     9000
Name: price, dtype: int64